
@{
    ViewBag.Title = "pageIll";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

<h2>pageIll</h2>

@using PagedList.Mvc;
<!--import this so we get our HTML Helper
@using PagedList; //import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)-->
<!-- import the included stylesheet for some (very basic) default styling -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quản Lý Bệnh Nhân</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <script src="https://use.fontawesome.com/08ddece8ed.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <input type="hidden" id="id_user_patient_update" value=@ViewBag.id_user_patient />
            <a class="navbar-brand" href="index.html">He Thong Nha Khoa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <nav class="navbar navbar-expand-sm">
                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ill</a>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Information
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Home/pageUser">User</a>
                            <a class="dropdown-item" href="/Home/pageAccount">Account</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            History
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Home/managepatient">Bill History</a>
                            <a class="dropdown-item" href="/Home/managedoctor">Product History</a>
                            <a class="dropdown-item" href="/Home/managemanager">Ill history</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <!-- END nav -->

    <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-primary px-4 py-3 mt-3" data-toggle="modal" data-target="#myModal">Add Patient</button>
        <br />
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Ill</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="input-group mb-3 col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Name</span>
                                </div>
                                <input type="text" id="create_name" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Phone</span>
                                </div>
                                <input type="text" id="create_phone" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Address</span>
                                </div>
                                <input type="text" id="create_address" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group mb-3 col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email</span>
                                </div>
                                <input type="text" id="create_email" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Tier</span>
                                </div>
                                <select class="custom-select" id="create_tier">
                                    <option selected>Choose...</option>
                                    <option value="1">Doctor</option>
                                    <option value="2">Manager</option>
                                    <option value="3">Patient</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="Create($('#create_name').val(), $('#create_phone').val(), $('#create_address').val(), $('#create_email').val(), $('#create_tier').val())">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!--Edit Modal -->
    <div id="modalEdit" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <input type="hidden" id="idIll" value=""/>
                <div class="modal-header">
                    <h4 class="modal-title">Edit Ill</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="input-group mb-3 col-lg-12">
                            <div class="input-group-prepend col-lg-3">
                                <select class="custom-select" id="name_ill">
                                    @foreach (var teeth in ViewBag.totalTooth)
                                    {
                                        <option value=@teeth>@teeth</option>
                                    }
                                </select>
                            </div>
                            <input type="text" class="col-lg-5" name="city" list="cityname">
                            <datalist id="cityname">
                                <option value="Boston">asd</option>
                                <option value="Cambridge">
                            </datalist>
                            <input class="col-lg-3" />
                            <button type="button" class="btn btn-default col-lg-1" style=""><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                        </div>
                    <div class="row">
                        <div class="input-group mb-3 col-lg-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Status Ill</span>
                            </div>
                            <input type="text" id="status_ill" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 col-lg-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Patient's Name</span>
                            </div>
                            <input type="text" id="name_patient" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group mb-3 col-lg-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Doctor's Name</span>
                            </div>
                            <select class="custom-select" id="name_doctor">
                                @foreach (var doctor in ViewBag.totalDoctor)
                                {
                                    <option value=@doctor.id_user>@doctor.name_user</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="Update($('#idIll').val(), $('#name_ill').val(),$('#status_ill').val(),$('#name_patient').val(),$('#name_doctor').val())">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--Delete Modal -->
    <div id="modalDelete" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Patient</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="input-group mb-3 col-lg-12">
                            Make sure ?
                        </div>
                    </div>
                    <input type="text" id="id_user" class="form-control" readonly>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="Delete($('#id_user').val())">Delete Patient</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <table id="user" class="table table-striped table-bordered" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name Ill</th>
            <th>Status</th>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Select</th>
        </tr>

        @foreach (var Ill in ViewBag.OnePageOfIlls)
        {
            <tr>
                <td>@Ill.Id_ill</td>
                <td>@Ill.Name_ill</td>
                <td>@Ill.Status_ill</td>
                <td>@Ill.Name_user_patient</td>
                <td>@Ill.Name_user_doctor</td>
                <td>
                    <button type="button" class="btn btn-primary px-4 py-3 mt-3 editPatient" data-toggle="modal" data-target="#modalEdit" >Edit Patient</button>
                    <button type="button" class="btn btn-primary px-4 py-3 mt-3" data-toggle="modal" data-target="#modalDelete">Delete Patient</button>
                </td>
            </tr>
        }
        <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfIlls, page => Url.Action("pageIll", new { page }))

    </table>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row d-md-flex align-items-center justify-content-end">
                <div class="col-lg-10">
                    <div class="row d-md-flex align-items-center">
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="18">0</strong>
                                    <span>Years of Experienced</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="351">0</strong>
                                    <span>Happy Clients</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="564">0</strong>
                                    <span>Finished Projects</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="300">0</strong>
                                    <span>Working Days</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <p alight="center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>
    </footer>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/timepicker@1.11.15/jquery.timepicker.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

    <script src="js/all.js"></script>

    <script>
        $('#user tr').click(function () {
            var idIll = $('#idIll').val($(this).find("td").eq(0).html());
            var name_ill = $('#name_ill').val($(this).find("td").eq(1).html());
            var status_ill = $('#status_ill').val($(this).find("td").eq(2).html());
            var name_patient = $('#name_patient').val($(this).find("td").eq(3).html());
            var doctor_name = $(this).find("td").eq(4).html()
            $('#name_doctor option').filter(function () {
                 return $(this).text() === doctor_name;
            }).prop('selected', true);
        });

        function Delete(id_user) {
            $.ajax({
                url: "http://localhost:63440/Home/deleteUser",
                type: 'GET',
                data: {
                    id_user: id_user
                },
                success: function (result) {
                    console.log(result);
                    alert("Delete successful!");
                    window.location = "../Home/pageUser"
                }
            });
        }
  
        function Update(Id_ill, name_ill, status_ill, name_doctor) {
            //neu muon thay doi benh nhan thi xoa ln benh nhan do va tao benh nhan moi 
            $.ajax({
                url: "http://localhost:63440/Home/updateIll",
                type: 'GET',
                data: {
                    id_ill:Id_ill, 
                    name_ill: name_ill,
                    status_ill: status_ill,
                    name_doctor: name_doctor,
                },
                success: function (result) {
                    console.log(result);
                    alert("Update Successful!");
                    window.location = "../Home/pageUser"
                }

            });
        }

        function Create(create_name,create_phone,create_address,create_email,create_tier) {
            $.ajax({
                url: "http://localhost:63440/Home/createUser",
                type: 'GET',
                data: {
                    name_user: create_name,
                    phone_user: create_phone,
                    address_user: create_address,
                    email_user: create_email,
                    id_tier: create_tier
                },
                success: function (result) {
                    console.log(result);
                    alert("Create Successful!");
                    window.location = "../Home/pageUser"
                }
            });
        }

        

    </script>
</body>
</html>

