
@{
    ViewBag.Title = "pageBill";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

<h2>pageBill</h2>

@using PagedList.Mvc;
<!--import this so we get our HTML Helper
@using PagedList; //import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)-->
<!-- import the included stylesheet for some (very basic) default styling -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quản Lý Bệnh Nhân</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">He Thong Nha Khoa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <nav class="navbar navbar-expand-sm">
                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ill</a>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Information
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Home/pageUser">User</a>
                            <a class="dropdown-item" href="/Home/pageAccount">Account</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            History
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Home/managepatient">Bill History</a>
                            <a class="dropdown-item" href="/Home/managedoctor">Product History</a>
                            <a class="dropdown-item" href="/Home/managemanager">Ill history</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <!-- END nav -->

    <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-primary px-4 py-3 mt-3" data-toggle="modal" data-target="#myModal">Add Patient</button>
        <br />
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Patient</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="input-group mb-3 col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Name</span>
                                </div>
                                <input type="text" id="create_name" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Phone</span>
                                </div>
                                <input type="text" id="create_phone" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Address</span>
                                </div>
                                <input type="text" id="create_address" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group mb-3 col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email</span>
                                </div>
                                <input type="text" id="create_email" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Tier</span>
                                </div>
                                <select class="custom-select" id="create_tier">
                                    <option selected>Choose...</option>
                                    <option value="1">Doctor</option>
                                    <option value="2">Manager</option>
                                    <option value="3">Patient</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="Create($('#create_name').val(), $('#create_phone').val(), $('#create_address').val(), $('#create_email').val(), $('#create_tier').val())">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!--Edit Modal -->
    <div id="modalEdit" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Patient</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="input-group mb-3 col-lg-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">ID</span>
                            </div>
                            <input type="text" id="id_user" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 col-lg-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input type="text" id="user_name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 col-lg-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Phone</span>
                            </div>
                            <input type="text" id="user_phone" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 col-lg-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Address</span>
                            </div>
                            <input type="text" id="user_address" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group mb-3 col-lg-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" id="user_email" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 col-lg-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tier</span>
                            </div>
                            @*<input type="hidden" id="id_tier" class="form-control">*@
                            <select class="custom-select" id="id_tier">
                                <option selected>Choose...</option>
                                <option value=1>Doctor</option>
                                <option value=2>Manager</option>
                                <option value=3>Patient</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="Update($('#id_user').val(),$('#user_name').val(),$('#user_phone').val(),$('#user_address').val(),$('#user_email').val(),$('#id_tier').val())">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--Delete Modal -->
    <div id="modalDelete" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Patient</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="input-group mb-3 col-lg-12">
                            Make sure ?
                        </div>
                    </div>
                    <input type="text" id="id_user" class="form-control" readonly>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="Delete($('#id_user').val())">Delete Patient</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <table id="user" class="table table-striped table-bordered" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Email</th>
            <th>Tier</th>
            <th>Select</th>
        </tr>

        @foreach (var Bill in ViewBag.onePageOfallBills)
        {
        <tr>
            <td>@Bill.Id_bill</td>
            <td>@Bill.Status_bill</td>
            <td>@Bill.DayCreate_bill</td>
            <td>@Bill.Note_bill</td>
            <td>@Bill.Price_bill</td>
            <td>@Bill.Debt_bill</td>
            <td>
                <button type="button" class="btn btn-primary px-4 py-3 mt-3" data-toggle="modal" data-target="#modalEdit">Edit Patient</button>
                <button type="button" class="btn btn-primary px-4 py-3 mt-3" data-toggle="modal" data-target="#modalDelete">Delete Patient</button>
            </td>
        </tr>

        }
        <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
        @Html.PagedListPager((IPagedList)ViewBag.onePageOfallBills, page => Url.Action("pageBill", new { page }))

    </table>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row d-md-flex align-items-center justify-content-end">
                <div class="col-lg-10">
                    <div class="row d-md-flex align-items-center">
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="18">0</strong>
                                    <span>Years of Experienced</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="351">0</strong>
                                    <span>Happy Clients</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="564">0</strong>
                                    <span>Finished Projects</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="300">0</strong>
                                    <span>Working Days</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <p alight="center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>
    </footer>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/timepicker@1.11.15/jquery.timepicker.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>



    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="js/all.js"></script>

    <script>
        $('#user tr').click(function () {
            var id_user = $('#id_user').val($(this).find("td").eq(0).html());
            var user_name = $('#user_name').val($(this).find("td").eq(1).html());
            var user_phone = $('#user_phone').val($(this).find("td").eq(2).html());
            var user_address = $('#user_address').val($(this).find("td").eq(3).html());
            var user_email = $('#user_email').val($(this).find("td").eq(4).html());
            var id_tier = $('#id_tier').val($(this).find("td").eq(5).html());
        });
    </script>

    <!--<script>
        $('#user tr').click(function () {
            var id_tier = $('#id_tier').val($(this).find("td").eq(5).html());
            console.log(id_tier);
            if (id_tier == 1) {
                id_tier = 'doctor';
            }
            else if (id_tier == 2) {
                id_tier = 'manager';
            }
            else if (id_tier == 3) {
                id_tier = 'patient';
            }
            else id_tier = 'else';
        });
    </script>-->

    <script>
        function Delete(id_user) {
            $.ajax({
                url: "http://localhost:63440/Home/deleteUser",
                type: 'GET',
                data: {
                    id_user: id_user
                },
                success: function (result) {
                    console.log(result);
                    alert("Delete successful!");
                    window.location = "../Home/pageUser"
                }
            });
        }
    </script>

    <script>
        function Update(id_user, name_user, phone_user, address_user, email_user, id_tier) {
            $.ajax({
                url: "http://localhost:63440/Home/updateUser",
                type: 'GET',
                data: {
                    id_user: id_user,
                    name_user: name_user,
                    phone_user: phone_user,
                    address_user: address_user,
                    email_user: email_user,
                    id_tier: id_tier
                },
                success: function (result) {
                    console.log(result);
                    alert("Update Successful!");
                    window.location = "../Home/pageUser"
                }

            });
        }
    </script>

    <script>
        function Create(create_name,create_phone,create_address,create_email,create_tier) {
            $.ajax({
                url: "http://localhost:63440/Home/createUser",
                type: 'GET',
                data: {
                    name_user: create_name,
                    phone_user: create_phone,
                    address_user: create_address,
                    email_user: create_email,
                    id_tier: create_tier
                },
                success: function (result) {
                    console.log(result);
                    alert("Create Successful!");
                    window.location = "../Home/pageUser"
                }
            });
        }
    </script>
</body>
</html>

